<!DOCTYPE html>
    <head>
        <title>Weather App: 404</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/main.js"></script>
    </head>
    <body>
        {{>header }}    
        <div class="main-content">
            <div class="container"> 
                <h1>{{ title }}</h1>
                <p>{{ text }}</p>
             </div>
        </div>
        {{>footer }}
    </body>
</html>