<!DOCTYPE html>
    <head>
        <title>Weather App: About</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/main.js"></script>
    </head>
    <body>
        {{>header }}
        <div class="main-content">
            <div class="container"> 
                <h1>Welcome to {{ location }}</h1>
                <p>Forecast : {{ forecast }}</p>
            </div>
        </div>
        {{>footer }}
    </body>
</html>