<!DOCTYPE html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/main.js"></script>
    </head>
    <body>
        {{>header }}
        <div class="main-content">
            <div class="container"> 
                <h1>Welcome to {{ title }}</h1>
                <p>{{ text }}</p>
            </div>
        </div>
        {{>footer }}
    </body>
</html>